:root {
    --ff-txt: "source-serif-pro", serif;
    --ff-display: "halyard-display", sans-serif;
    --ff-display-bold: 300;
    --ff-txt-regular: 400;
    --fs-XS: 16px;
    --fs-S: 19px;
    --fs-M: 22px;
    --fs-L: 40px;
    --fs-XL: 55px;
    --fs-XXL: 70px;
    --ff-line-txt: 1.4;
    --ff-line-display: 1.1;
    
    /* Reingehackte Stildefinidtionen */
    .devHeader {
        background: black;
        position: absolute;
        top: 0;
        z-index: 100;
        width: 100%;

        p,
        a {
            color: white;
            margin: 3px;
        }
    }
    
    html,
    body {
        font-family: var(--ff-txt) !important;
        font-size: var(--fs-M) !important;
        line-height: var(--ff-line-txt) !important;
    }

    .newTypography {

        strong {
            font-weight: var(--ff-display-bold) !important;
        }

        /* Navigation */
        .menu-item a {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-S) !important;
            font-weight: var(--ff-display-bold) !important;
            letter-spacing: 0 !important;
        }

        /* Language navi */
        #block-densipedia-language-switcher ul.links li a {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-XS) !important;
        }

        /* Map Selektor */
        .facet-wrapper.focus .js-facets-checkbox-links li,
        .zoom-info,
        .form-type-textfield .form-text {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-XS) !important;
            font-weight: var(--ff-txt-regular) !important;
        }

        .filter-container .view-filters .zoom-info {
            margin-top: 0 !important;
        }

        /* Slideshow */
        .slick-pager-button .title {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-S) !important;
            font-weight: var(--ff-display-bold) !important;
        }

        /* Slideshow Title */
        .region .content-container .title {
            font-family: var(--ff-txt) !important;
            font-size: var(--fs-XXL) !important;
            line-height: 1 !important;
            font-weight: var(--ff-display-bold);
        }

        /* Projekt Eintrag Card */
        .node--type-project {
            .location {
                font-family: var(--ff-display) !important;
                font-size: var(--fs-S) !important;
                margin-bottom: 0;
            }

            .title {
                font-family: var(--ff-display) !important;
                font-size: var(--fs-M) !important;
                font-weight: var(--ff-display-bold) !important;
            }
        }

        /* Header */
        .header-container .content-container {
            .title {
                font-family: var(--ff-display) !important;
                font-size: var(--fs-XXL) !important;
                line-height: var(--ff-line-txt) !important;
                font-weight: var(--ff-display-bold) !important;
            }

            .text {
                font-family: var(--ff-display) !important;
                font-size: var(--fs-L) !important;
                line-height: var(--ff-line-txt) !important;
                font-weight: var(--ff-txt-regular) !important;
                font-style: normal !important;
            }

        }

        /* Page Title */
        .page-title,
        .view-header h2 {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-XXL) !important;
            line-height: var(--ff-line-display) !important;
            font-weight: var(--ff-display-bold) !important;
        }

        /* Lead */
        .field--name-field-lead,
        .field .field--name-field-lead .field--type-string-long .field--label-hidden .field__item {
            font-family: var(--ff-txt) !important;
            font-size: var(--fs-M) !important;
            line-height: var(--ff-line-txt) !important;
            font-weight: 600 !important;
            font-style: italic;
        }

        /* Lauftext */
        .text,
        .paragraph p,
        p {
            font-family: var(--ff-txt) !important;
            font-size: var(--fs-M) !important;
            line-height: var(--ff-line-txt) !important;
            font-weight: var(--ff-txt-regular) !important;
        }

        /* Zwischentitel Lauftext */
        .paragraph h3 {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-L) !important;
            line-height: var(--ff-line-txt) !important;
            font-weight: var(--ff-display-bold) !important;
        }

        /* Zitat */
        .field--name-field-quote {
            font-family: var(--ff-txt) !important;
            font-size: var(--fs-XL) !important;
            line-height: 1.2 !important;
            font-weight: var(--ff-txt-regular);
            font-style: italic;
        }

        /* Bildlegende */
        .field--name-field-caption {
            font-family: var(--ff-txt) !important;
            font-size: var(--fs-S) !important;
            line-height: var(--ff-line-txt) !important;
            margin-bottom: 40px !important;
        }

        /* Breadcrumb */
        .breadcrumb li,
        .field--name-field-author {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-S) !important;
        }

        /* Pagination Button */
        .load-more {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-S) !important;
            font-weight: var(--ff-display-bold) !important;
            padding: 18px 41px 13px !important;
            font-weight: var(--ff-display-bold) !important;
        }

        /* Card tile */
        .node--type-page.node--view-mode-tile {
            .teaser-title h2 {
                font-family: var(--ff-display) !important;
                font-size: var(--fs-M) !important;
                line-height: var(--ff-line-txt) !important;
                font-weight: var(--ff-display-bold) !important;
            }

            .teaser-lead,
            .teaser-topic {
                font-family: var(--ff-txt) !important;
                font-size: var(--fs-XS) !important;
                line-height: var(--ff-line-txt) !important;
            }

            .field__item {
                font-family: var(--ff-display) !important;
                font-size: var(--fs-XS) !important;
                font-weight: var(--ff-txt-regular) !important;
            }
        }

        /* Grey special Block */
        .block-system-main-block ul li {
            font-family: var(--ff-txt) !important;
            font-size: var(--fs-M) !important;
            line-height: var(--ff-line-txt) !important;
        }

        /* CTA */
        .contact-us {
            .label {
                font-family: var(--ff-display) !important;
                font-size: var(--fs-L) !important;
                line-height: 2 !important;
                font-weight: var(--ff-display-bold) !important;
            }

            a {
                font-family: var(--ff-txt) !important;
                font-size: var(--fs-M) !important;
            }
        }

        footer nav ul.menu li a,
        .previon-plus-link .text {
            font-family: var(--ff-display) !important;
            font-size: var(--fs-S) !important;
            font-weight: var(--ff-txt-regular) !important;
        }
    }
